@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}

:root {
    --c01: #ffffff;
    --c02: #000000;
    --c03: #7BAEC2;
    --c04: #1f3440;
    --c05: rgba(255, 245, 159, 0.7);
    --c06: rgba(240, 186, 74, 0.7);
    --c07: rgba(255, 255, 255, 0.620);
    --c08: #447633;
    --c09: #B72F2F;
    --c10: #6B5A38;
    --c11: #F2CF87;
    --c12: #61B4E3;
}

body {
    display: flex;
    justify-content: space-between;
}

/* menu lateral */

#menu-lateral {
    background-color: var(--c03);
    width: 17%;
    height: 100vh;
    position: fixed;
}

figure {
    display: flex;
    gap: 6px;
    align-items: center;
    margin-left: 32px;
    padding-top: 15px;
    padding-bottom: 15px;
}

figure img {
    width: 16%;
}

#menu-lateral h1 {
    font-family: DM Serif display;
    color: var(--c01);
    font-weight: 500;
    font-size: 30px;
}

#imgPerfil {
    border-radius: 50%;
    width: 25%;
    margin-top: 48px;
    margin-bottom: 10px;
}

li {
    list-style-type: none;
}

#menu-lateral li a {
    color: var(--c01)   ;
    text-decoration: none;
    font-size: 19px;
}

.item {
    display: flex;
    gap: 5px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


#selecionado {
    color: var(--c04);
}

.bx {
    font-size: 31px;
}

#perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--c01);
}

#menu-lateral h2 {
    font-weight: 500;
}

nav {
    margin-top: 79px;
    margin-left: 32px;
}

#second-hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

#second-nav {
    margin-top: 0px;
} 

/* main */

main {
    margin-left: 18%;
    width: 50%;
    padding: 10px;
}

#welcome {
    margin-top: 5%;
}

#gradiente {
    /* Primeiro passo: definir um degradê como fundo */
    background-image: linear-gradient(to left, var(--c12), var(--c12), var(--c12), var(--c12), var(--c12), var(--c04));
    
    /* Segundo passo: apagar do fundo tudo que não estiver imediatamente atrás de texto */
    background-clip: text;
    -webkit-background-clip: text; /* Alguns navegadores precisam do prefixo */
  
    /* Terceiro passo: apagar o texto, deixando apenas o fundo atrás dele */
    -webkit-text-fill-color: transparent;
  
    /* Cor que contraste com o degradê, caso o navegador não suporte `background-clip: text` */
    color: black;
  }


main nav ul {
    display: flex;
    flex-direction: row;
}

#nav-paginas {
    margin-left: 0;
    margin-top: 30px;
}

main nav ul a {
    text-decoration: none;
    color: var(--c04);
    font-weight: 600;
}

.selected {
    position: relative; /* Necessário para o ::after se posicionar corretamente */
    text-decoration: none; /* Desativa o sublinhado padrão */
}

.selected::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px; /* Alinha o pseudo-elemento na parte inferior */
    width: 100%;
    height: 4px; /* Define a espessura do sublinhado */
    background-color: var(--c11); /* Cor do sublinhado */
    border-radius: 2px; /* Aplica bordas arredondadas */
}

.card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: var(--c01);
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    height: 180px;
    width: 270px;
    background-image: linear-gradient(to left, var(--c05), var(--c06));
    color: var(--c01);
}

#area-cards {
    margin-top: 30px;
    display: flex;
    gap: 1rem;
    width: fit-content;
}

main, aside {
    height: 100vh;
}

span{
    background-color: var(--c07);
    color: var(--c08);
    width: 66px;
    height: 24px;
    padding: 5px;
    border-radius: 20px;
}

#negativo{
    color: var(--c09);
}

.valorfinanca{
    color: var(--c10);
}

.iconefinanca{
    width: 44px;
    height: 44px;
}

#grafico-area {
    margin-top: 5%;
}

#grafico-area img {
    width: 100%;
}

/* aside */

#atv-area img {
    width: 89%;
    margin: auto;
    display: block;
    margin-top: 15%;
    margin-bottom: 30%;
}

aside {
    background-image: url(../img/bglateral.png);
    background-repeat: no-repeat;
    width: 310px;
}

aside h2 {
    font-size: 16px;
}

.goal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.goal img {
    width: 18%;
}

.progresso {
    display: flex;
    flex-direction: column;
}

#objetivos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#objetivos h2 {
    width: 89%;
    margin: auto;
    display: block;
}

/* responsividade do menu lateral */

@media screen and (max-width:1340px) {
    #first-nav p, figure h1, #perfil h2, #perfil p, #second-nav p {
        display: none;
    }

    ul, figure {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    figure {
        margin-left: 0;
    }

    nav {
        margin-left: 0;
    }
}
