@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');


*{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    list-style-type: none;
}


:root{
    --c01:#80CDEB;
    --c02:#7BAEC2;
    --c03:#C0CED6;
    --c04:#EEE8DC;
    --c05:#F0D1A6;
    --c06:#da9711;
    --c07:#fff;
    --c08:#000;
    --c09:#FCB628;
    --c10:#1F3440;
    --c11: #C0CED6;
    --c12: #ADB7BC;
    /* ////// */
    
    --p: normal;    
    --bold: 700;
    --semibold: 600;
    --light: 400;
    
    
    /* //////// */
    
    --sh1:48px;
    --smenu:30px;
    --sbotao: 25px;
    --srodape: 20px;
    --scorpo1: 35px;
    --scorpo2: 26px;
    
}



body{
    display: flex;
    flex-direction: column;
    
    width: 100%;
}

header{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: last baseline;    
    height: 100px;
    margin-bottom: 2%;
}

header > nav > ul {
    
    display: flex;
    gap: 2em;
    margin-right: 50px;
    
}

a{
    text-decoration: none;

}

header a {
    color: black;
    
}
.line-select{
    opacity: 0;
    width: 1px;
    border-width: 2px;
    border-radius: 20px;
    border-style: solid;
    border-color:var(--c10);
    margin: 0;  
    transition: width 0.5s ease;
}

.li-div:hover{
    
    font-weight: var(--bold);
    
}
.li-div:hover .line-select  {
    opacity: 1;
    width: 50%;  
}



.botao-amarelo{
    background-color: var(--c09) ;
    padding: 0.8rem 2rem 0.8rem 2rem;
    border-radius: 10px ;
    color: var(--c07);
    font-weight: var(--semibold);
}

.amarelo-click:hover{
    background-color: var(--c06);
    transition: 0.5s;
}

#logo img{
    width: 180px;
    margin-left: 50px;
    object-fit: contain;
    margin-left: 40%;    
    
}


/* //////////////////////////////////////// main  */

.font-azul{
    font-weight: var(--bold);
}


#principal{
    margin-left: 6%;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.telefone img{
    height: 500px;
    object-fit: contain;
    margin-bottom: -15px;
}

#texto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 1000px;

    
}

#igreja{
    background-color: var(--c01);
    padding: 0.8rem 2rem 0.8rem 2rem;
    border-radius: 10px ;
    color: var(--c07);
    font-weight: var(--semibold);
    transition: 0.5s; 
}



#igreja:hover{
    background-color: var(--c02);
}
.botoes-texto{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.0rem;
    
}

#article-img img{
    width: 55px;
    height: 40px;
    object-fit: contain;
    margin-left: -35px;
}

#article-img{
    margin-left: 25px;
    
}

.article-div article{
    display: flex;
    align-items: center;
    
}

#article-text{
    display: flex;
    align-items: baseline;
    flex-direction: column;
    height: 60px;
    
}

h3{
    margin-bottom: -2px;
    margin-top: 2px;
    color: var(--c09);
    font-weight: var(--semibold);
    
}


.article-div{
    display: flex;
    flex-direction: column;
    
    
}

.article-div{
    margin-top: 20px ;
    
}
#hr1{
    margin-bottom: 1px;
    
}

#hr2{
    
    margin-top: 1px;
    
}

/* Aside merchan */

#merchan {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    width: 86.7%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.22), 0 0 25px rgba(0, 0, 0, 0.14);
    padding: 20px;
    margin: auto;
    margin-bottom: 100px;
}

#text-merchan {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#back-color {
    background-color: #FCB628;
    color:white;
    padding: 2px;
}

#cards-merchan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    max-width: 60%;
}

.card-merchan{ 
    min-width: 250px;
    max-width: 40%;
    
    margin: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    
    background-color: white;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.300);
}

.card-body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    padding: 10px;
    padding-left: 8px;
    padding-right: 8px;
}

.icon-card {
    width: 45px ;
    height: 45px;   

}

.juncao {
    margin: auto; 
    width: 50%;
    margin: 0;
}

.card-title {
    color: #FCB628;
    
    font-size: var(--smenu);
}

.card-text {
    font-size: var(--p);
}


/* END Aside merchan */

/* funcionalidades */

/* Texto e título */
#conheca {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.linha {
    border-bottom: 6px solid var(--c09);
}

#texto-funcio {
    position: relative;
    z-index: 2;
}

/* Seção de funcionalidades */
#funcio {
    text-align: center;
    height: auto;
    width: 98.7vw;  
    margin-top: 230px;
    height: 900px;
    
    
    
    margin-top: -850px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cards-funcio {
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 100px;
    
    
}



#nuvem img {
    width:  98.7vw;
    object-fit: contain;
    z-index: 1;
    
}

.cards {
    display: inline-block;
    width: 50%;
    text-align: left;
    box-shadow: 9px 13px 31px -19px;
    font-size: 20px;
    transition: height 0.5s ease;
}

.unselected {
    height: 300px;
    padding: 30px;
    background-color: var(--c07);
}

.icone {
    margin-bottom: 5%;
    width: 20%;
}

a span {
    font-weight: bold;
}

#card1:hover, #card2:hover, #card3:hover {
    background-color: var(--c09);
    display: flex;
    height: 400px;
    align-items: flex-end;
    color: var(--c07);
    
}

#card1:hover img, #card2:hover img, #card3:hover img{
    
    filter: invert(99%) sepia(100%) saturate(16%) hue-rotate(233deg) brightness(104%) contrast(100%);
}

#card1, #card2, #card3 {
    border-radius: 20px;
}


#card1:hover .texto-cards, #card2:hover .texto-cards, #card3:hover .texto-cards {
    transition: 0.2s  ease;
    color: var(--c07);
    margin-bottom: 5px;
     height: 100%;
   

}
.cards {
    position: relative;/* Posiciona os cards acima das nuvens */
    z-index: 1;
}

/* adm sua church */

#adm{
    position: relative;
    background-color: var(--c04);
    display: flex; 
    justify-content: center;
    
    height: 500px;
}


#text-adm{
    margin-left: 10%;
    display: flex;
   
    gap: 2rem;
    width: 300px;
    align-items: baseline;
    justify-content: center;
    height: 600px;
    flex-direction: column;
    
}

#text-adm p{
    width: 300px;
}
#text-adm h2{  
    font-weight: var(--semibold);
    
}

#botao-azul{
    background-color: var(--c10);
    font-weight: var(--semibold);
    padding: 0.8rem 2rem 0.8rem 2rem;
    border-radius: 10px ;
    color: var(--c07);
    font-weight: var(--semibold);
    transition: 0.5s;
    width: 160px;
    display: flex;
    justify-content: center;
}

#botao-azul:hover{
    background-color: #000;   
}

#adm img{
    margin-left: 13%;
    width: 700px;
    height: 700px;
    object-fit: cover;
    margin-top: 3%;

}

/* planos */

#planos {
    margin-bottom: 9%;
}

#planos h2 {
    text-align: center;
    margin-bottom: 3%;

}

.card-preco {
    height: 320px;
    margin-top: 70px;
    width: 15%;
    border-radius: 20px;
    box-shadow: 2px 5px 6px rgb(84, 84, 84);
}

.preco {
    color: #fff;
    padding: 32px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.preco1 {
    background-color: var(--c11);
}

.preco2 {
    background-color: var(--c12)
}

.preco3 {
    background-color: var(--c01);
}

.card-preco {
    width: 350px;
    height: 330px;
}

.saibaMais {
    border: none;
    width: 50%;
    border-radius: 10px;
    padding: 10px;
    background-color: #FCB628;
    color: #fff;
    font-weight: 600;

    position: relative;
    bottom: 6%;
    left: 25%;
}

.desc-plano {
    width: fit-content;
    margin-left: 8%;
}

#total-cards {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.desc-plano p {
    font-size: large;
}

/* depoimentos */

#feedback {
    width: 100%;

    margin: auto;
    margin-top: 30px;

}

#feedback-titulo {
    color: var(--c10);
    font-weight: var(--p);

    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    
    text-align: center;
}

#feedback-titulo-span {
    font-weight: var(--bold);

    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;

    margin: 9px;
    margin-top: 13px;
}

#line-feedback {
    width: 70px;
    height: 4px;

    border-radius: 8px;

    margin: auto;

    background-color: #FCB628;
}

#cards-feedback {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 20px auto;

    width: 80%;
}

.card-feedback {

    max-width: 40%;
    min-height: 250px;

    padding: 5px 10px 5px 10px;
    border-radius: 12px;

    background-color: var(--c07);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.250);
    margin-bottom: 220px ;
}

.card-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* breno bobão
    eu concordo <3 obs : Juli 
    Afff, essa fernanda 🙄  ass: breno the best
    */
}

.card-header > img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.card-header > div {
    width: 100%;

    padding: 10px;
}

.card-header > div > p {
    margin: 0;
    font-size: 1.3rem;
    text-indent: 0px;

    width: 100%;
}

.card-header > div > b {
    font-size: 1.3rem;

}

.card-body-feed {
    color: var(--c08);

    font-weight: var(--scorpo2);

    display: flex;
    justify-content: center;
    align-items: start;
}

.card-text {
    font-size: 1.2rem;
}

.card-aspas {
    margin: 0;
    position: relative;
    bottom: 25px;
    right: 2%;
}

.card-aspas > img {
    width: 25px;
    height: 20px;
}

/* footer */

footer {
    background-color: var(--c08);
    color: var(--c07);
 
}

div p i {
    font-size: 23px;
}

#destaque {
    margin-top: 8%;
}

#texto-destaque {
    margin-top: 26%;
}

#semicirculo{
    z-index: -1;
    margin-bottom: -800px;
}
@media screen and (orientation: portrait) {

    #planos > h2 {
        margin-bottom: 40px;
    }

     #total-cards {
        flex-direction: column;
        align-items: center;
     }

     #cards-feedback {
        flex-direction: column;
        align-items: center;
     }

     .card-feedback {
        max-width: 80%;
        margin-top: -100px;
     }

     .gustavo {
        margin-top: -200px;
     }

     .linha {
        margin: auto;
     }

     #merchan {
        flex-direction: column;
     }

     #text-merchan {
        margin-top: 20px;
        margin-bottom: 30px;
     }

     header {
        flex-direction: column;
     }

     figure {
        align-items: center;
     }

     nav {
        align-items: center;
     }
}